{{define "body"}}
<h1 >Welcome to your acend training</h1>

<h2>Tools</h2>

<ul>
  <li><a href="https://argocd.{{ $.clusterName}}.{{ $.clusterDomain}}">ArgoCD</a></li>
  <li><a href="https://gitea.{{ $.clusterName}}.{{ $.clusterDomain}}">Gitea</a></li>
</ul>

<h2>Webshells</h2>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Webshell</th>
        <th scope="col">Namespace / Username</th>
        <th scope="col">Password</th>
        <th scope="col">Training Pages</th>
      </tr>
    </thead>
    <tbody>
      {{ range .trainees}}
      <tr>
        <td><a href="https://{{ .Username }}:{{ .Password }}@{{ .Username }}.{{ $.clusterName}}.{{ $.clusterDomain}}">https://{{ .Username }}.{{ $.clusterName}}.{{ $.clusterDomain}}</a></td>
        <td>{{ .Username }}</td>
        <td>{{ .Password }}</td>
        <td>
            <ul>
                <li><a href="https://container-basics.training.acend.ch?a={{ $.clusterName}}.{{ $.clusterDomain}}&n={{ .Username }}">Container Basics</a></li>
                <li><a href="https://kubernetes-basics.training.acend.ch?a={{ $.clusterName}}.{{ $.clusterDomain}}&n={{ .Username }}">Kubernetes Basics</a></li>
                <li><a href="https://helm-basics.training.acend.ch?a={{ $.clusterName}}.{{ $.clusterDomain}}&n={{ .Username }}">Helm Basics</a></li>
                <li><a href="https://argocd-basics.training.acend.ch?a={{ $.clusterName}}.{{ $.clusterDomain}}&n={{ .Username }}">ArgoCD Basics</a></li>
                <li><a href="https://cilium-basics.training.acend.ch">Cilium Basics</a></li>
            </ul>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>

  {{end}}